/* font-family: 'Merriweather', serif;
font-family: 'Bitter', serif;
font-family: 'Righteous', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Bree Serif', serif; */

/* fonts i like for roller derby theme */