/* font-family: 'Righteous', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Bree Serif', serif; */

.answerchoice {
    border: 1px solid black;
    border-radius: 5%;
	  width: 50%;
	  color: black;
    text-align: center;
    margin: 10px auto;
    font-size: 24px;
    background-color: pink;

}

img {
  max-height: 250px;
  width: auto;
}

#answerblock {
  text-align: center;
}

#questionblock {
  text-align: center;
  font-weight: bold;
}

#reset {
  visibility: visible;
}

body {
  background-image: url("../images/ownHeroBackground.jpg");
  background-size: cover;
  font-family: 'Abril Fatface', cursive;
}

h1 {
  text-align: center;
  color: black;
  font-weight: bolder;
  padding: 30px;
  font-size: 45px;
}

p {
  margin: 10px;
  font-weight: bold;
  color: pink;
  font-size: 20px;
}

h2, h4 {
  margin: 30px;
  font-weight: bold;
}

.wrapper {
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid pink;
  height: 500px;
  width: 80%;
  text-align: center;
}

.btn {
  position: relative;
  bottom: -90px;
}