/* font-family: 'Righteous', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Bree Serif', serif; */
body {
  background-image: url("../images/WFTDAbackground.png");
  background-size: cover;
  font-family: 'Abril Fatface', cursive;
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  color: black;
  font-weight: bolder;
  padding: 10px;
  font-size: 50px;
}

p {
  margin: 5px;
  font-weight: bold;
  color: hotpink;
  font-size: 25px;
}

h2 {
  margin: 60px;
  font-weight: bold;
}

h4 {
  margin: 20px;
  font-weight: bold;
}


.answerchoice {
    border: 1px solid deeppink;
    border-radius: 5%;
	  width: 35%;
	  color: white;
    text-align: center;
    margin: 10px auto;
    font-size: 24px;
    background-color: #ffbad2;

}

#answerblock {
  text-align: center;
}

#questionblock {
  text-align: center;
  font-weight: bold;
}

#reset {
  visibility: visible;
}


.wrapper {
  border-radius: 40%;
  margin: 5px auto;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid hotpink;
  height: 560px;
  width: 80%;
  text-align: center;
}

.btn {
  position: relative;
  bottom: -120px;
}

#start, #reset {
  color: white;
  background: hotpink;
  padding: 10px 30px;
  font-size: 18px;
}

/* target viewport sizes less than 640px */
/* @media screen (max-width: 640px) {
  h1, h2, h3 {
    font-size: 10px; 
  }
}

img {
  display: block;
        height: 150px;
        width: 150px;
} */
