/* font-family: 'Righteous', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Bree Serif', serif; */
body {
  background-image: url("../images/WFTDAbackground.png");
  background-size: cover;
  font-family: 'Abril Fatface', cursive;
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  color: black;
  /* -webkit-text-stroke: 1px black; */
  font-weight: bolder;
  padding: 30px;
  font-size: 50px;
}

p {
  margin: 10px;
  font-weight: bold;
  color: hotpink;
  font-size: 25px;
}

h2, h4 {
  margin: 30px;
  font-weight: bold;
}


.answerchoice {
    border: 1px solid black;
    border-radius: 5%;
	  width: 50%;
	  color: black;
    text-align: center;
    margin: 10px auto;
    font-size: 24px;
    background-color:#ffbad2;

}

#answerblock {
  text-align: center;
}

#questionblock {
  text-align: center;
  font-weight: bold;
}

#reset {
  visibility: visible;
}


.wrapper {
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid hotpink;
  height: 520px;
  width: 75%;
  text-align: center;
}

.btn {
  position: relative;
  bottom: -100px;
}